<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SocialButterfly</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SocialButterfly.styles.css" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header style="margin-top: 3vh">
        <a style="color: inherit; text-decoration: inherit;" href="/">Social Butterfly</a><br/>
    </header>
    <nav>
        <ul>
            <li><a href="/Privacy">Privacy</a></li>
            <li><a href="/About">About</a></li>
            <div style="float:right">
                <partial name="_LoginPartial" />
            </div>
        </ul>
    </nav>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <p>Copyright © 2026, David W. Barts</p>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
