@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li><a href="/Identity/Account/Manage/ChangePassword">Change Password</a></li>
    <li><a href="/Identity/Account/Logout">Log Out</a></li>
}
else
{
    <li><a href="/Identity/Account/Login">Log In</a></li>
}
