@model string

@if (!String.IsNullOrEmpty(Model))
{
    <div role="alert">
        <button type="button" data-bs-dismiss="alert" aria-label="Close"></button>
        @if (Model.StartsWith("Error")) {
            <span class="text-danger">@Model</span>
        } else {
            @Model
        }
    </div>
}
