@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

@section Styles {
    <link rel="stylesheet" href="~/css/aspnet-validation.css" />
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div>
    <div class="std-form">
        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>
            @if (Model.IsEmailConfirmed)
            {
                <div class="std-form-control">
                    <label asp-for="Email" class="std-label top"></label><br/>
                    <input asp-for="Email" class="std-text-input" placeholder="name@example.com" disabled />
                </div>
            }
            else
            {
                <div class="std-form-control">
                    <label asp-for="Email" class="std-label top"></label><br/>
                    <input asp-for="Email" class="std-text-input" placeholder="name@example.com" disabled />
                    <button class="std-button right" id="email-verification" type="submit" asp-page-handler="SendVerificationEmail">Send verification email</button>
                </div>
            }
            <div class="std-form-control">
                <label asp-for="Input.NewEmail" class="std-label top"></label><br/>
                <input asp-for="Input.NewEmail" class="std-text-input" autocomplete="email" aria-required="true" placeholder="new email" />
                <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
            </div>
            <div class="std-form-control">
                <button class="std-button" id="change-email-button" type="submit" asp-page-handler="ChangeEmail">Change email</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
