@page
@model SetPasswordModel
@{
    ViewData["Title"] = "Set Password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

@section Styles {
    <link rel="stylesheet" href="~/css/aspnet-validation.css" />
}

<h3>Set your password</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<p>
    You do not have a local username/password for this site. Add a local
    account so you can log in without an external login.
</p>
<div>
    <div class="std-form">
        <form id="set-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="std-form-control">
                <label asp-for="Input.NewPassword" class="std-label top"></label><br/>
                <input asp-for="Input.NewPassword" class="std-text-input" autocomplete="new-password" placeholder="password"/>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="std-form-control">
                <label asp-for="Input.ConfirmPassword" class="std-label top"></label><br/>
                <input asp-for="Input.ConfirmPassword" class="std-text-input" autocomplete="new-password" placeholder="confirm password"/>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="std-form-control">
                <button type="submit">Set password</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
