@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot Your Password?";
}

@section Styles {
    <link rel="stylesheet" href="~/css/aspnet-validation.css" />
}

<h1>@ViewData["Title"]</h1>
<div class="text-danger">
    <h2>Warning</h2>
    <p>
        Your password is used to encrypt sensitive data (such as the
        credentials used to access your social media accounts). <strong>As such,
        resetting your password means being unable to read this
        encrypted data, and you will have to reenter it when you log in
        again.</strong>
    </p>
</div>
<h2>Enter Your Email</h2>
<hr />
<div>
   <div class="std-form">
       <form method="post">
           <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
           <div class="std-form-control">
               <label asp-for="Input.Email" class="std-label top"></label><br/>
               <input asp-for="Input.Email" class="std-text-input" autocomplete="username" aria-required="true" placeholder="name@example.com" />
               <span asp-validation-for="Input.Email" class="text-danger"></span>
           </div>
           <div class="std-form-control">
               <button class="std-button" type="submit">Reset Password</button>
           </div>
       </form>
   </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
