@page
@model LoginWithRecoveryCodeModel
@{
    ViewData["Title"] = "Recovery Code Verification";
}

@section Styles {
    <link rel="stylesheet" href="~/css/aspnet-validation.css" />
}

<h1>@ViewData["Title"]</h1>
<hr />
<p>
    You have requested to log in with a recovery code. This login will not be remembered until you provide
    an authenticator app code at log in or disable 2FA and log in again.
</p>
<div>
    <div class="std-form">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="std-form-control">
                <label asp-for="Input.RecoveryCode" class="std-label top"></label><br/>
                <input asp-for="Input.RecoveryCode" class="std-text-input" autocomplete="off" placeholder="RecoveryCode" />
                <span asp-validation-for="Input.RecoveryCode" class="text-danger"></span>
            </div>
            <div class="std-form-control">
                <button class="std-button" type="submit">Log in</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}