@page
@model LoginModel

@{
    ViewData["Title"] = "Log In";
}

@section Styles {
    <link rel="stylesheet" href="~/css/aspnet-validation.css" />
}

<h1>@ViewData["Title"]</h1>
<p>
    Please note that this is currently an experimental service and that as such
    general user accounts are not yet available to the public.
</p>
<div>
    <div class="std-form">
        <section>
            <form id="account" method="post">
                <h2>Use a local account to log in</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="std-form-control">
                    <label asp-for="Input.Email" class="std-label top">Email</label><br/>
                    <input asp-for="Input.Email" class="std-text-input" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="std-form-control">
                    <label asp-for="Input.Password" class="std-label top">Password</label><br/>
                    <input asp-for="Input.Password" class="std-text-input" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="std-form-control">
                    <label asp-for="Input.RememberMe" class="std-label">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div class="std-form-control">
                    <button class="std-button" id="login-submit" type="submit">Log in</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
