@page
@model RegisterModel
@{
    ViewData["Title"] = "Unsupported";
}

<h1 class="text-danger">@ViewData["Title"]</h1>
<p class="text-danger">This function is not supported and you should not see this page.</p>
