@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend Email Confirmation";
}

@section Styles {
    <link rel="stylesheet" href="~/css/aspnet-validation.css" />
}

<h1>@ViewData["Title"]</h1>
<h2>Enter your email.</h2>
<hr />
<div>
    <div>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>
            <div>
                <input asp-for="Input.Email" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit">Resend</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
