@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";
}

@section Styles {
    <link rel="stylesheet" href="~/css/aspnet-validation.css" />
}

<h1>@ViewData["Title"]</h1>
<h2>Reset your password.</h2>
<p class="text-danger">
    Note you will have to reenter all sensitive information (primarily
    access credentials for your social media accounts) once you log in.
</p>
<hr />
<div>
    <div class="std-form">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="std-form-control">
                <label asp-for="Input.Email" class="std-label top"></label><br/>
                <input asp-for="Input.Email" class="std-text-input" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="std-form-control">
                <label asp-for="Input.Password" class="std-label top"></label><br/>
                <input asp-for="Input.Password" class="std-text-input" autocomplete="new-password" aria-required="true" placeholder="password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="std-form-control">
                <label asp-for="Input.ConfirmPassword" class="std-label top"></label><br/>
                <input asp-for="Input.ConfirmPassword" class="std-text-input" autocomplete="new-password" aria-required="true" placeholder="confirm password" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="std-form-control">
                <button class="std-button" type="submit">Reset</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
