@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend Email Confirmation";
}

@section Styles {
    <link rel="stylesheet" href="~/css/aspnet-validation.css" />
}

<h1>@ViewData["Title"]</h1>
<h2>Note</h2>
<p>
    Emails from this site are sent via a commercial mail-relaying service.
    If an expected email fails to arrive, check your spam folder.
</p>
<h2>Enter your email</h2>
<hr />
<div>
    <div class="std-form">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>
            <div class="std-form-control">
                <label asp-for="Input.Email" class="std-label top"></label><br/>
                <input asp-for="Input.Email" class="std-text-input" aria-required="true" placeholder="name@example.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="std-form-control">
                <button class="std-button" type="submit">Resend</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
