.field-validation-error {
    color: rgb(220, 53, 69);
    font-style: italic;
}

.input-validation-error {
    border-color: rgb(220, 53, 69);
    outline-color: rgb(220, 53, 69);
}

.input-validation-valid {
    border-color: rgb(25, 135, 84);
    outline-color: rgb(25, 135, 84);
}

.validation-summary-errors {
    color: rgb(220, 53, 69);
    font-style: italic;
}

.validation-summary-valid span {
    display: none;
}
