@font-face {
  font-family:"Inter Variable";
  src:url("/fonts/InterVariable.woff2") format("woff2");
  font-weight:100 900;
  font-style:normal;
  font-display:swap
}
@font-face {
  font-family:"Inter Variable";
  src:url("/fonts/InterVariable-Italic.woff2") format("woff2");
  font-weight:100 900;
  font-style:italic;
  font-display:swap
}

html {
  font-size: 14px;
  font-family:"Inter Variable",arial,sans-serif;
  font-feature-settings:"cv05","zero"
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

header {
  font-size: 64px;
  text-align: center;
}

footer {
  font-size: 80%;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
  padding: 14px 16px;
  text-align: center;
}
