@page
@model IndexModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1>Welcome</h1>
    <p>
        This is a demo page. It is unprotected; anyone can access it. A
        secure page that requires login is
        <a href="/Secure/Protected">here.</a>
    </p>
    @if (SignInManager.IsSignedIn(User)) {
        <p>
            You are logged in as user @(User.Identity?.Name).
        </p>
    } else {
        <p>
            You are not logged in.
        </p>
    }
</div>
